html, body {
    height: 100%;
}

body{
    text-align: center;
    margin: 0;
    padding: 0;
}

main {
    height: 85%;
}

main .container {
    width:1200px;
    height: 100%;
    margin:0px auto ;
    text-align:center;
    position: relative;
    top: 20px;
}

main .button{
    margin-right: 10px;
    padding: 10px;
    color: #125A94;
    border-radius: 4px;
    background-color: chartreuse;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    display: inline-block;
}

main .buttons {
    margin-bottom: 3%;
}

main .buttons .leftRight .button {
    margin: 1% 3% 1% 2%;
}

main .buttons .leftRight .MoveLeftBtn {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

main .buttons .MoveTopBtn {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

main .buttons .MoveBottomBtn {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


main .button:hover{
    border-radius: 30px;
}

main .controlButtons .button.active {
    background-color: cadetblue;
}

/*ballGeneral*/
main .ball {
    width:100px;
    height:100px;
    background-color:yellow;
    text-align:center;
    font-size:56px;
    font-weight:bold;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px #000;
    margin-bottom: 10%;
    position: relative;
    left:0;
    top:0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

main .ball p{
    line-height: 90px;
}

main .ball.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);

}

main .ball.transition {
    -webkit-transition: all 4s;
    -moz-transition: all 4s;
    -ms-transition: all 4s;
    -o-transition: all 4s;
    transition: all 4s;
}

/*Move*/

main .ball.Move {
    position: relative;
    -webkit-animation-name: Move; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: Move;
    animation-duration: 4s;
    animation-iteration-count: 1; /* Chrome, Safari, Opera */

}

main .ball.MoveEnd{
    position: relative;
    left:800px;
    top:0px;
}


@-webkit-keyframes Move {
    0%   {background-color:yellow; left:0px; top:0px;}
    100%   {background-color:blue; left:800px; top:0px;}

}

@keyframes Move {
    0%   {background-color:yellow; left:0px; top:0px;}
    100%   {background-color:blue; left:800px; top:0px;}

}

/*MoveComeBack*/
main .ball.MoveComeBack {
    position: relative;
    -webkit-animation-name: MoveComeBack; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: MoveComeBack;
    animation-duration: 4s;
    animation-iteration-count: 1; /* Chrome, Safari, Opera */

}


@-webkit-keyframes MoveComeBack {
    0%   {background-color:yellow; left:0px; top:0px;}
    50%   {background-color:blue; left:800px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}

}

@keyframes MoveComeBack {
    0%   {background-color:yellow; left:0px; top:0px;}
    50%   {background-color:blue; left:800px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}

}

/*MoveComeBackCircle*/
main .ball.MoveComeBackCircle {
    position: relative;
    -webkit-animation-name: MoveComeBackCircle; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: MoveComeBackCircle;
    animation-duration: 4s;
    animation-iteration-count: 1; /* Chrome, Safari, Opera */
}

@-webkit-keyframes MoveComeBackCircle{
    0%   {background-color:yellow; left:0px; top:0px;}
    20%   {background-color:blue; left:0px; top:300px;}
    40%   {background-color:blue; left:800px; top:300px;}
    80% {background-color:red; left:800px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
}

@keyframes MoveComeBackCircle{
    0%   {background-color:yellow; left:0px; top:0px;}
    20%   {background-color:blue; left:0px; top:300px;}
    40%   {background-color:blue; left:800px; top:300px;}
    80% {background-color:red; left:800px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
}

/*MoveAndJump*/

main .ball.MoveAndJump {
    position: relative;
    -webkit-animation-name: MoveAndJump; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: MoveAndJump;
    animation-duration: 4s;
    animation-iteration-count: 1; /* Chrome, Safari, Opera */

}

main .ball.MoveAndJumpEnd{
    position: relative;
    left:800px;
    top:0px;
}

@-webkit-keyframes MoveAndJump {
    0%   {background-color:yellow; left:0px; top:0px;}
    20%   {background-color:blue; left:200px; top:50px;}
    40%   {background-color:blue; left:400px; top:0px;}
    80% {background-color:red; left:600px; top:50px;}
    100% {background-color:red; left:800px; top:0px;}

}

@keyframes MoveAndJump {
    0%   {background-color:yellow; left:0px; top:0px;}
    20%   {background-color:blue; left:200px; top:50px;}
    40%   {background-color:blue; left:400px; top:0px;}
    80% {background-color:red; left:600px; top:50px;}
    100% {background-color:red; left:800px; top:0px;}

}

